<!--  Don't edit anything here. Set your disqus id in _config.yml -->
{% if site.disqus_username %}
<div id="comments" class="mt-5">
  <div id="disqus_thread"></div>
  <script>

  /**
  *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
  *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
  var disqus_config = function () {
  this.page.url = document.location.href;
  this.page.identifier = document.location.pathname; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
  };
  (function() { // DON'T EDIT BELOW THIS LINE
  var d = document, s = d.createElement('script');
  s.src = 'https://devfans-blog.disqus.com/embed.js';
  s.setAttribute('data-timestamp', +new Date());
  (d.head || d.body).appendChild(s);
  })();
  </script>
  <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>

</div>
{% endif %}

{% if site.gitalk %}
<link rel="stylesheet" href="https://cdn.staticfile.org/gitalk/1.7.0/gitalk.min.css">
<script src="https://cdn.staticfile.org/gitalk/1.7.0/gitalk.min.js"></script>
<div class="comment">

<div id="gitalk-container"></div>
<script>
var gitalk = new Gitalk({
    id: '{{ page.date }}',
    clientID: '{{ site.gitalk.clientID }}',
    clientSecret: "5c70de"+"9d0016c"+"775c3a18f3e09"+"df403aa7593dd0",
    repo: '{{ site.gitalk.repo }}',
    owner: '{{ site.gitalk.owner }}',
    admin: ['{{ site.gitalk.owner }}'], 
	labels: ['Gitalk'],
})
gitalk.render('gitalk-container')
</script> 
</div>
{% endif %}
