<!-- This goes before </head> closing tag, Google Analytics can be placed here --> 
<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-140795020-1"></script>
<script>
  window.$mobile = /mobile/i.test(window.navigator.userAgent) || typeof window.orientation !== 'undefined';
  const addCSSClass = (el, _class) => {
    if (el.className.split(' ').indexOf(_class) === -1) el.className += ' ' + _class;
  }
  window.addEventListener("load", (event) => {
    if (window.$mobile) {
      setImmediate(function() {
        ['nav', 'main', 'article'].forEach(d => {
          document.querySelectorAll(d).forEach(el => addCSSClass(el, 'mobile'));
        })
      });
    }
  });
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-140795020-1');
</script>
